*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
div{
    height: 100px;
    width: 100px;
    background-color: greenyellow;
    border: solid 3px green;
    border-radius: 10px;
    margin:  5px;
    
}

.a{
     position: relative;
     top: 50%;
     left: -30%;
}
.b{
     position: absolute;
     top: 50%;
     left: 200px;
}
.f{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 10%;
}
.d{
    position: fixed;
    bottom: 0;
    right: 0;

}